@model List<Product>

@{
    ViewData["Title"] = "Home Page";
    ViewData["HomePage"] = true;
}

<div style="background-color : #08618d">
   <div class="container text-white py-5">
       <div class="row align-items-center">
           <div class="col-md-6">
               <h1 class="mb-5 display-2"> <strong>BatmanStore</strong> </h1>
               <p>
                   Find larage selection of newest electronic devices from most popular brands
               </p>

           </div>
            <div class="col-md-6 text-center">
                <img src="~/images/hero.png" class="img-fluid"/>
            </div>
           
       </div>
   </div>
</div>
<div class="bg-light">
    <div class="container py-4">
        <h2 class="pb-4 text-center ">Newst Product</h2>
        <div class="row mb-5 g-3">
            @foreach (var product in Model)
            {
                <div class="col-lg-3 col-md-6">
                    <div class="rounded border shadow p-3 text-center h-100">
                        <img src="/products/@product.Imagefile" class="img-fluid" style="height:100px; object-fit:contain" />
                        <hr />
                        <h5 class="py-2">@product.Name</h5>
                        <p>
                            brand :@product.Brand , Category :@product.Category
                        </p>
                        <h4 class="mb-3"> @product.Price $</h4>
                        <a class="btn btn-primary btn-sm mb-2"  role="button" asp-controller="Store" asp-action="Details" asp-route-id="@product.Id">Details</a>
                        <button type="button" onclick="addToCart(this,@product.Id)"  class="btn btn-warning btn-sm mb-2">
                            Add To cart <i class="bg-info bi-cart4"></i>
                        </button>
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>